/* 变量 */
$nav-width: 7rem;
$nav-color: rgb(95, 95, 94);
$nav-colors: rgb(63, 196, 178);
$docs-width:  90%;
$txt-color:rgb(104, 103, 103);
/* 混合器 */
@mixin mp($v) {
  padding-top: $v;
  margin-top: -$v;
}

@mixin thc($re) {
  height: $re;
  line: {
    height: $re;
  }
}

@mixin pa($t,$l) {
  transform: translate($t,$l);
}

@mixin h1p() {
  h1 {
    font-size: .5rem;
    font-weight: 100;
    text-align: center;
    padding: 0 0 .8rem 0;
    color: $txt-color;
    letter-spacing: 4px;
  }
  p {
    font-size: .35rem;
    font-weight: 100;
    line-height: 1.5;
    text-indent: .81rem;
    letter-spacing: 2px;
    color: $txt-color;
    span {
      color: $txt-color;
      letter-spacing: 0;
    }
  }
}

@mixin nav($w){
  position: fixed;
  top: 0;
  left: 0;
  width: $w;
  height: 100%;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-right: .2rem solid rgb(189, 189, 189);
  .home {
    display: block;
    @include thc(1rem);
    font-size: .5rem;
    text-align: center;
    color: rgb(0, 197, 211);
    border-bottom: 1px solid rgb(231, 227, 202);
  }
  .nav-l1 {
    margin: .5rem 0 0 .5rem;
    li {
      margin: .3rem 0;
      a {
        display: block;
        font-size: .35rem;
        color: $nav-color;
        letter-spacing: 2px;
      }
      .nav-l2 {
        margin: 0 0 0 .5rem;
        li {
          a {
            z-index: 15;
            font-size: .32rem;
          }
        }
      }
    }
  }
  .info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: .5rem;
    p {
      @include thc(.5rem);
      color:rgb(95, 123, 126);
    }
  }
}

@mixin con {
  h2 {
    font-size: .4rem;
    font-weight: 100;
    color: rgb(219, 135, 9);
    margin: .6rem 0 .3rem 0;
  }
  table {
    width: 100%;
    font-size: .31rem;
    border: 1px solid $txt-color;
    border-collapse: collapse;
    letter-spacing: 2px;
    margin-bottom: .2rem;
    thead tr th,tbody tr td {
      border: 1px solid $txt-color;
      padding: .2rem .3rem;
      line-height: 1.5;
      text-align: center;
      color: $txt-color;
    }
  }
  .divp {
    margin-bottom: .6rem;
    p {
      font-size: .35rem;
      font-weight: 100;
      line-height: 1.5;
      text-indent: 0.77rem;
      letter-spacing: 2px;
      color:rgb(78, 120, 124);
      &:nth-of-type(1) {
        text-indent: 0;
      }
    }
  }
  .code {
    pre {
      line-height: .2rem;
      letter-spacing: 1px;
    }
    .tit {
      font-size: .35rem;
      font-weight: 100; 
      color: rgb(0, 212, 71);
    }
    &:nth-of-type(1) {
      margin-top: .5rem;
    }
  }
}
@mixin tip {
  @include con;
  @include h1p;
  ul {
    li{
      color: rgb(201, 204, 0);
      font-size: 0.32rem;
      list-style: circle;
    }
  }
  h2 {
    font-size: .4rem;
    font-weight: 100;
    color: rgb(219, 135, 9);
    margin: .6rem 0 .3rem 0;
  }
  h3 {
    font-size:.34rem;
    line-height: 1.5;
    text-indent: .81rem;
    letter-spacing: 1px;
    color: rgb(248, 149, 0);
    margin-top: .2rem;
    cursor: pointer;
    span.jh{
      font-size:.3rem;
      color:rgb(0, 159, 23);
      padding-right: .1rem;
    }
  }
  pre {
    letter-spacing: 1px;
    margin: -.35rem 0 -.8rem 0;
  }
  span.ins{
    font-size: 0.3rem;
    color: rgb(136, 141, 124);
    letter-spacing: 1px;
  }
  span.reg{
    padding: 0 .1rem;
    border-radius: .05rem;
    color: rgb(0, 243, 170);
    background: rgb(77, 75, 75);
    letter-spacing: 1px;
    overflow: hidden;
  }
}